body {
    background-color: #2A2A2A;
    color: #BDBDBD ;
    .form-control {
      background-color: #1d1d1c; /* Light blue background */
      border: .5px solid #211217; /* Blue border */
      color: #BDBDBD; /* Text color */
}

    .custom-btn {
        background-color: #0d1a26;
        color: #BDBDBD ;
    }

    .custom2 {
      background-color: #000000;
      color: #BDBDBD ;
  }

.modal-content{
  background-color: #1d1d1c;
}

}